<header>
  {{>header-mobile}}
  {{>header-menu}}

  {{>header-burger}}
  <div
    class="serch-menu lg:hidden -translate-y-full opacity-0 invisible transition-all duration-1000
    ease-in-out hidden  absolute pb-[28px] top-0 w-full z-10 bg-white"
  >
    <div class="title bg-blackBg flex justify-between pl-[20px] pr-[21px] items-center pt-[28px] pb-[28px]">
      <span class="text-white font-actor text-[14px] tracking-[0.5px] leading-[16px]">Категории</span>
      <svg class="w-[14px] h-[14px] serch-close">
        <use class="" href="#icons-close"/>
      </svg>
    </div>
    <div class="nav mt-[10px] px-[15px]">
      <a
        class="font-acme pl-[2px] text-purpleLight pb-[22px] mt-[26px] text-[16px] leading-[18px] border-b border-purpleLight/20 w-[100%] inline-flex
        flex justify-between items-center tracking-[0.2px]
        "
        href="#"
      >
        Все букеты
        <svg class="w-[7px] h-[14px]">
          <use class="" href="#icons-arrowRight"></use>
        </svg>
      </a>
      <div class="menu border-b border-purpleLight/20">
        <input type="radio" id="serchList" name="serchList" class="peer hidden">

        <label
          for="serchList"
          class="group font-acme pl-[2px] text-purpleLight mt-[23px] text-[16px] leading-[18px]
           w-full inline-flex mb-[17px]
           justify-between items-center tracking-[0.2px] cursor-pointer"
        >
          Розы

          <svg
            class="w-[14px] h-[14px] mt-[3px] transition-transform duration-300
                group-peer-checked:rotate-90"
          >
            <use href="#icons-arrowRight"></use>
          </svg>
        </label>

        <div
          class="list overflow-hidden max-h-0 transition-all duration-500
            peer-checked:max-h-1000 mb-[16px]"
        >
          <a
            href="#"
            class="pl-[43px] hover:bg-purpleLight hover:text-white
           font-acme text-[16px] leading-[18px]
           block py-2 pt-[8px] "
          >
            Белые розы
          </a>
          <a
            href="#"
            class="pl-[43px] hover:bg-purpleLight hover:text-white
           font-acme text-[16px] leading-[18px]
           block py-2 pt-[7.2px]pt-[7.2px] "
          >
            Кремовые розы
          </a>
          <a
            href="#"
            class="pl-[43px] hover:bg-purpleLight hover:text-white
           font-acme text-[16px] leading-[18px]
           block py-2 pt-[7.2px] tracking-[0.9px]"
          >
            Синие/голубые розы
          </a>
          <a
            href="#"
            class="pl-[43px] hover:bg-purpleLight hover:text-white
           font-acme text-[16px] leading-[18px]
           block py-2 pt-[7.2px] tracking-[0.4px]"
          >
            Голландские розы
          </a>
          <a
            href="#"
            class="pl-[43px] hover:bg-purpleLight hover:text-white
           font-acme text-[16px] leading-[18px]
           block py-2 pt-[7.2px] tracking-[0.6px]"
          >
            Красные розы
          </a>
          <a
            href="#"
            class="pl-[43px] hover:bg-purpleLight hover:text-white
           font-acme text-[16px] leading-[18px]
           block py-2 pt-[7.2px] tracking-[0.6px]"
          >
            Оранжевые розы
          </a>
          <a
            href="#"
            class="pl-[43px] hover:bg-purpleLight hover:text-white
           font-acme text-[16px] leading-[18px]
           block py-2 pt-[7.2px] tracking-[0.4px]"
          >
            Кустовая роза
          </a>
          <a
            href="#"
            class="pl-[43px] hover:bg-purpleLight hover:text-white
           font-acme text-[16px] leading-[18px]
           block py-2 pt-[7.2px] tracking-[0.6px]"
          >
            Метровые розы
          </a>
          <a
            href="#"
            class="pl-[43px] hover:bg-purpleLight hover:text-white
           font-acme text-[16px] leading-[18px]
           block py-2 pt-[7.2px] tracking-[0.6px]"
          >
            Розовые розы
          </a>
          <a
            href="#"
            class="pl-[43px] hover:bg-purpleLight hover:text-white
           font-acme text-[15px] leading-[18px]
           block py-2 pt-[7.2px] tracking-[0.7px]"
          >
            Жёлтые розы
          </a>
          <a
            href="#"
            class="pl-[43px] hover:bg-purpleLight hover:text-white
           font-acme text-[16px] leading-[18px]
           block py-2 pt-[5px] tracking-[0.6px]"
          >
            Черные розы
          </a>
          <a
            href="#"
            class="pl-[43px] hover:bg-purpleLight hover:text-white
           font-acme text-[16px] leading-[18px]
           block py-2 pt-[7px] tracking-[0.7px]"
          >
            Пионовидные розы
          </a>
          <a
            href="#"
            class="pl-[43px] hover:bg-purpleLight hover:text-white
           font-acme text-[16px] leading-[18px]
           block py-2 pt-[7.2px]"
          >
            11 роз
          </a>
          <a
            href="#"
            class="pl-[43px] hover:bg-purpleLight hover:text-white
           font-acme text-[16px] leading-[18px]
           block py-2 pt-[7.2px]"
          >
            19 роз
          </a>
          <a
            href="#"
            class="pl-[43px] hover:bg-purpleLight hover:text-white
           font-acme text-[16px] leading-[18px]
           block py-2 pt-[7.2px]"
          >
            25 роз
          </a>
          <a
            href="#"
            class="pl-[43px] hover:bg-purpleLight hover:text-white
           font-acme text-[16px] leading-[18px]
           block py-2 pt-[7.2px] tracking-[0.2px]"
          >
            51 роза
          </a>
        </div>
      </div>
      <div class="menu border-b border-purpleLight/20 mt-[4px]">
        <input type="radio" id="flower" name="serchList" class="peer hidden">

        <label
          for="flower"
          class="group font-acme pl-[2px] text-purpleLight mt-[23px] text-[16px] leading-[18px]
           w-full inline-flex mb-[17px]
           justify-between items-center tracking-[0.5px] cursor-pointer"
        >
          Цветы в коробке

          <svg
            class="w-[14px] h-[14px] mt-[3px] transition-transform duration-300
                group-peer-checked:rotate-90"
          >
            <use href="#icons-arrowRight"></use>
          </svg>
        </label>

        <div
          class="list overflow-hidden max-h-0 transition-all duration-500
            peer-checked:max-h-1000 mb-[4px]"
        >
          <a
            href="#"
            class="pl-[43px] hover:bg-purpleLight hover:text-white
           font-acme text-[16px] leading-[18px]
           block py-2 "
          >
            Белые розы
          </a>
        </div>
      </div>

      <a
        class="font-acme pl-[2px] text-purpleLight pb-[22px] mt-[26px] text-[16px] leading-[18px] border-b border-purpleLight/20 w-[100%] inline-flex
        flex justify-between items-center tracking-[0.5px]
        "
        href="#"
      >
        Композиции
        <svg class="w-[7px] h-[14px]">
          <use class="" href="#icons-arrowRight"></use>
        </svg>
      </a>
      <a
        class="font-acme pl-[2px] text-purpleLight pb-[22px] mt-[26px] text-[16px] leading-[18px] border-b border-purpleLight/20 w-[100%] inline-flex
        flex justify-between items-center tracking-[0.2px]
        "
        href="#"
      >
        Подарки
        <svg class="w-[7px] h-[14px]">
          <use class="" href="#icons-arrowRight"></use>
        </svg>
      </a>
      <a
        class="font-acme pl-[2px] text-purpleLight pb-[22px] mt-[26px] text-[16px] leading-[18px] border-b border-purpleLight/20 w-[100%] inline-flex
        flex justify-between items-center tracking-[0.5px]
        "
        href="#"
      >
        Подарочные корзины
        <svg class="w-[7px] h-[14px]">
          <use class="" href="#icons-arrowRight"></use>
        </svg>
      </a>
      <a
        class="font-acme pl-[2px] text-purpleLight pb-[22px] mt-[26px] text-[16px] leading-[18px] border-b border-purpleLight/20 w-[100%] inline-flex
        flex justify-between items-center tracking-[0.2px]
        "
        href="#"
      >
        Букеты невесты
        <svg class="w-[7px] h-[14px]">
          <use class="" href="#icons-arrowRight"></use>
        </svg>
      </a>
      <a
        class="font-acme pl-[2px] text-purpleLight pb-[22px] mt-[26px] text-[16px] leading-[18px] border-b border-purpleLight/20 w-[100%] inline-flex
        flex justify-between items-center tracking-[0.2px]
        "
        href="#"
      >
        Вкусные букеты
        <svg class="w-[7px] h-[14px]">
          <use class="" href="#icons-arrowRight"></use>
        </svg>
      </a>
    </div>
  </div>
</header>
