<header>
  <div
    class="wrapper px-[15px] py-[3px] mobile:py-[11px] pt-[4px] bg-blackBg
    
    "
  >
    <div class="preHeader ml-[-1px] flex items-center justify-between">
      <div class="price flex items-center  gap-[6px] text-purpleLight font-acme text-[16px] leading-[18px]">
        Грн
        <svg class="w-[7px] h-[4px]">
          <use class="" href="#icons-arrowDown" />
        </svg>
      </div>
      <div class="line w-[1px] h-[21px] bg-purpleLight mx-[20px] mr-[23px]"></div>
      <div class="car  flex items-center justify-between gap-[10px] mobile:gap-[9px] ">
        <svg class="w-[16px] h-[12px]">
          <use class="" href="#icons-car" />
        </svg>
        <span
          class="w-[80%] mobile:w-[100%] text-white font-acme text-[13px] leading-[18px] text-right tracking-[0.25px]"
        >
          Доставка и оплата
        </span>
      </div>
      <div class="line w-[1px] h-[21px] bg-purpleLight mx-[19px]"></div>

      <div class="language flex items-center gap-[6px] text-purpleLight font-acme text-[16px] leading-[18px]">
        RU
        <svg class="w-[7px] h-[4px]">
          <use class="" href="#icons-arrowDown" />
        </svg>
      </div>
    </div>
  </div>
  <div class="mobile px-[15px] pr-[17px] pt-[7px] flex items-center justify-between">
    <div class="burger">
      <svg class="w-[30px] h-[18px]">
        <use class="" href="#icons-burger" />
      </svg>
    </div>
    <div class="logo">
      <img class="w-[83px] h-[78px]" src="/img/logo.webp" alt="" />
    </div>
    <div class="item flex gap-[19px]">
      <svg class="w-[18px] h-[19px] mobile-serch">
        <use class="" href="#icons-search" />
      </svg>
      <div class=" relative">
        <svg class="w-[25px] h-[23px]">
          <use class="" href="#icons-basket" />
        </svg>
        <div
          class="basket-count
          top-[-3px]
          right-[-2px]
          absolute bg-purpleLight rounded-[50%] text-[8px] text-white h-[10px] w-[10px] font-sans text-center"
        >
          1
        </div>
      </div>
    </div>
  </div>
  <div
    class="burger-menu
     -translate-y-full opacity-0 invisible transition-all duration-1000
    ease-in-out  hidden absolute pb-[28px] top-0 w-full z-10 bg-white"
  >
    <div class="title bg-blackBg flex justify-between pl-[20px] pr-[21px] items-center pt-[28px] pb-[28px]">
      <span class="text-white font-actor ext-[14px] leading-[16px]">Меню</span>
      <svg class="w-[14px] h-[14px] burger-close">
        <use class="" href="#icons-close" />
      </svg>
    </div>
    <div class="call flex items-center justify-between pl-[32px] pr-[16px] pt-[20px]">
      <div class="nunber font-acme text-[16px] leading-[18px]">+38 (067) 111 22 11</div>
      <a
        href="#"
        class="call relative bg-purpleLight pb-[8px] pt-[9px] px-[28px] pr-[25px] font-actor text-[12px] leading-[18px] tracking-[0.2px] text-white rounded-[5px]"
      >
        Подзвонить
        <svg class="w-[85px] h-[112px] absolute top-[-15px] right-[-21px] rotate-45 overflow-hidden ">
          <use class="" href="#icons-btnBg" />
        </svg>
      </a>
    </div>
    <div class="px-[13px] mt-[73px]">
      <div class="flex justify-between items-center">
        <span class="font-acme text-[17px] leading-[18px]">Киев</span>
        <button class="font-acme text-[17px] leading-[18px] text-purpleLight" type="button">Выбрать город</button>
      </div>
      <div class="flex justify-between items-center mt-[33px]">
        <span class="font-acme text-[17px] leading-[16px]">Закладки</span>
        <button class="font-acme text-[17px] leading-[18px] relative text-purpleLight mr-[24px]" type="button">
          <svg class="w-[26px] h-[26px]   ">
            <use class="" href="#icons-heart" />
          </svg>
          <div
            class="like-count
              top-[-3px]
              right-[-15px]
              absolute bg-purpleLight rounded-[50%] text-[12px] text-black pt-[2px]  h-[22px] w-[22px] font-sans text-center"
          >
            2
          </div>
        </button>
      </div>
      <div class="flex justify-between items-center mt-[29px]">
        <span class="font-acme text-[17px] leading-[18px] tracking-[0.2px]">Личный кабинет</span>
        <button class="font-acme text-[17px] leading-[18px] text-purpleLight" type="button">Войти</button>
      </div>
    </div>
    <nav class=" mt-[68px] px-[13px]">
      <a class="font-acme pb-[22px] text-[17px] leading-[18px] border-b border-black/20 w-[100%] inline-block" href="#"
        >Форум</a
      >
      <a
        class="font-acme pb-[22px] mt-[26px] text-[17px] leading-[18px] border-b border-black/20 w-[100%] inline-block"
        href="#"
        >Отзывы</a
      >
      <a
        class="font-acme pb-[22px] mt-[26px] text-[17px] leading-[18px] border-b border-black/20 w-[100%] inline-block"
        href="#"
        >Акции</a
      >
      <a
        class="font-acme pb-[22px] mt-[26px] text-[17px] leading-[18px] border-b border-black/20 w-[100%] inline-block"
        href="#"
        >Новости</a
      >
      <a
        class="font-acme pb-[22px] mt-[26px] text-[17px] leading-[18px] border-b border-black/20 w-[100%] inline-flex
        flex justify-between items-center
        "
        href="#"
      >
        Информация
        <svg class="w-[7px] h-[14px]">
          <use class="" href="#icons-arrowRight"></use>
        </svg>
      </a>
      <a
        class="font-acme pb-[22px] mt-[26px] text-[17px] leading-[18px] border-b border-black/20 w-[100%] inline-flex
        items-center gap-[12px]
        "
        href="#"
      >
        <svg class="w-[21px] h-[16px]">
          <use class="" href="#icons-phone"></use>
        </svg>
        Контакты</a
      >
    </nav>
    <div class="social mt-[44px] px-[13px] flex items-center gap-[23px]">
      <a href="#" class="bg-purpleLight w-[50px] h-[50px] inline-flex items-center justify-center rounded-[50%]">
        <svg class="w-[25px] h-[27px]">
          <use class="" href="#icons-viber"></use>
        </svg>
      </a>
      <a href="#" class="bg-purpleLight w-[49px] h-[49px] inline-flex items-center justify-center rounded-[50%]">
        <svg class="w-[26px] h-[26px]">
          <use class="" href="#icons-instagram"></use>
        </svg>
      </a>
      <a href="#" class="bg-purpleLight w-[49px] h-[49px] inline-flex items-center justify-center rounded-[50%]">
        <svg class="w-[26px] h-[27px]">
          <use class="" href="#icons-telegram"></use>
        </svg>
      </a>
      <a href="#" class="bg-purpleLight w-[49px] h-[49px] inline-flex items-center justify-center rounded-[50%]">
        <svg class="w-[26px] h-[26px]">
          <use class="" href="#icons-facebook"></use>
        </svg>
      </a>
    </div>
  </div>
  <div
    class="serch-menu -translate-y-full opacity-0 invisible transition-all duration-1000
    ease-in-out   absolute pb-[28px] top-0 w-full z-10 bg-white"
  >
    <div class="title bg-blackBg flex justify-between pl-[20px] pr-[21px] items-center pt-[28px] pb-[28px]">
      <span class="text-white font-actor text-[14px] tracking-[0.5px] leading-[16px]">Категории</span>
      <svg class="w-[14px] h-[14px] serch-close">
        <use class="" href="#icons-close" />
      </svg>
    </div>
    <div class="nav mt-[10px] px-[15px]">
      <a
        class="font-acme pl-[2px] text-purpleLight pb-[22px] mt-[26px] text-[16px] leading-[18px] border-b border-purpleLight/20 w-[100%] inline-flex
        flex justify-between items-center tracking-[0.2px]
        "
        href="#"
      >
        Все букеты
        <svg class="w-[7px] h-[14px]">
          <use class="" href="#icons-arrowRight"></use>
        </svg>
      </a>
      <div class="menu border-b border-purpleLight/20">
        <input type="radio" id="serchList" name="serchList" class="peer hidden" />

        <label
          for="serchList"
          class="group font-acme pl-[2px] text-purpleLight mt-[23px] text-[16px] leading-[18px]
           w-full inline-flex mb-[17px]
           justify-between items-center tracking-[0.2px] cursor-pointer"
        >
          Розы

          <svg
            class="w-[14px] h-[14px] mt-[3px] transition-transform duration-300
                group-peer-checked:rotate-90"
          >
            <use href="#icons-arrowRight"></use>
          </svg>
        </label>

        <div
          class="list overflow-hidden max-h-0 transition-all duration-500
            peer-checked:max-h-1000 mb-[16px]"
        >
          <a
            href="#"
            class="pl-[43px] hover:bg-purpleLight hover:text-white
           font-acme text-[16px] leading-[18px]
           block py-2 pt-[8px] "
          >
            Белые розы
          </a>
          <a
            href="#"
            class="pl-[43px] hover:bg-purpleLight hover:text-white
           font-acme text-[16px] leading-[18px]
           block py-2 pt-[7.2px]pt-[7.2px] "
          >
            Кремовые розы
          </a>
          <a
            href="#"
            class="pl-[43px] hover:bg-purpleLight hover:text-white
           font-acme text-[16px] leading-[18px]
           block py-2 pt-[7.2px] tracking-[0.9px]"
          >
            Синие/голубые розы
          </a>
          <a
            href="#"
            class="pl-[43px] hover:bg-purpleLight hover:text-white
           font-acme text-[16px] leading-[18px]
           block py-2 pt-[7.2px] tracking-[0.4px]"
          >
            Голландские розы
          </a>
          <a
            href="#"
            class="pl-[43px] hover:bg-purpleLight hover:text-white
           font-acme text-[16px] leading-[18px]
           block py-2 pt-[7.2px] tracking-[0.6px]"
          >
            Красные розы
          </a>
          <a
            href="#"
            class="pl-[43px] hover:bg-purpleLight hover:text-white
           font-acme text-[16px] leading-[18px]
           block py-2 pt-[7.2px] tracking-[0.6px]"
          >
            Оранжевые розы
          </a>
          <a
            href="#"
            class="pl-[43px] hover:bg-purpleLight hover:text-white
           font-acme text-[16px] leading-[18px]
           block py-2 pt-[7.2px] tracking-[0.4px]"
          >
            Кустовая роза
          </a>
          <a
            href="#"
            class="pl-[43px] hover:bg-purpleLight hover:text-white
           font-acme text-[16px] leading-[18px]
           block py-2 pt-[7.2px] tracking-[0.6px]"
          >
            Метровые розы
          </a>
          <a
            href="#"
            class="pl-[43px] hover:bg-purpleLight hover:text-white
           font-acme text-[16px] leading-[18px]
           block py-2 pt-[7.2px] tracking-[0.6px]"
          >
            Розовые розы
          </a>
          <a
            href="#"
            class="pl-[43px] hover:bg-purpleLight hover:text-white
           font-acme text-[15px] leading-[18px]
           block py-2 pt-[7.2px] tracking-[0.7px]"
          >
            Жёлтые розы
          </a>
          <a
            href="#"
            class="pl-[43px] hover:bg-purpleLight hover:text-white
           font-acme text-[16px] leading-[18px]
           block py-2 pt-[5px] tracking-[0.6px]"
          >
            Черные розы
          </a>
          <a
            href="#"
            class="pl-[43px] hover:bg-purpleLight hover:text-white
           font-acme text-[16px] leading-[18px]
           block py-2 pt-[7px] tracking-[0.7px]"
          >
            Пионовидные розы
          </a>
          <a
            href="#"
            class="pl-[43px] hover:bg-purpleLight hover:text-white
           font-acme text-[16px] leading-[18px]
           block py-2 pt-[7.2px]"
          >
            11 роз
          </a>
          <a
            href="#"
            class="pl-[43px] hover:bg-purpleLight hover:text-white
           font-acme text-[16px] leading-[18px]
           block py-2 pt-[7.2px]"
          >
            19 роз
          </a>
          <a
            href="#"
            class="pl-[43px] hover:bg-purpleLight hover:text-white
           font-acme text-[16px] leading-[18px]
           block py-2 pt-[7.2px]"
          >
            25 роз
          </a>
          <a
            href="#"
            class="pl-[43px] hover:bg-purpleLight hover:text-white
           font-acme text-[16px] leading-[18px]
           block py-2 pt-[7.2px] tracking-[0.2px]"
          >
            51 роза
          </a>
        </div>
      </div>
      <div class="menu border-b border-purpleLight/20 mt-[4px]">
        <input type="radio" id="flower" name="serchList" class="peer hidden">

        <label
          for="flower"
          class="group font-acme pl-[2px] text-purpleLight mt-[23px] text-[16px] leading-[18px]
           w-full inline-flex mb-[17px]
           justify-between items-center tracking-[0.5px] cursor-pointer"
        >
          Цветы в коробке

          <svg
            class="w-[14px] h-[14px] mt-[3px] transition-transform duration-300
                group-peer-checked:rotate-90"
          >
            <use href="#icons-arrowRight"></use>
          </svg>
        </label>

        <div
          class="list overflow-hidden max-h-0 transition-all duration-500
            peer-checked:max-h-1000 mb-[4px]"
        >
          <a
            href="#"
            class="pl-[43px] hover:bg-purpleLight hover:text-white
           font-acme text-[16px] leading-[18px]
           block py-2 "
          >
            Белые розы
          </a>
        </div>
      </div>

      <a
        class="font-acme pl-[2px] text-purpleLight pb-[22px] mt-[26px] text-[16px] leading-[18px] border-b border-purpleLight/20 w-[100%] inline-flex
        flex justify-between items-center tracking-[0.5px]
        "
        href="#"
      >
        Композиции
        <svg class="w-[7px] h-[14px]">
          <use class="" href="#icons-arrowRight"></use>
        </svg>
      </a>
      <a
        class="font-acme pl-[2px] text-purpleLight pb-[22px] mt-[26px] text-[16px] leading-[18px] border-b border-purpleLight/20 w-[100%] inline-flex
        flex justify-between items-center tracking-[0.2px]
        "
        href="#"
      >
        Подарки
        <svg class="w-[7px] h-[14px]">
          <use class="" href="#icons-arrowRight"></use>
        </svg>
      </a>
      <a
        class="font-acme pl-[2px] text-purpleLight pb-[22px] mt-[26px] text-[16px] leading-[18px] border-b border-purpleLight/20 w-[100%] inline-flex
        flex justify-between items-center tracking-[0.5px]
        "
        href="#"
      >
        Подарочные корзины
        <svg class="w-[7px] h-[14px]">
          <use class="" href="#icons-arrowRight"></use>
        </svg>
      </a>
      <a
        class="font-acme pl-[2px] text-purpleLight pb-[22px] mt-[26px] text-[16px] leading-[18px] border-b border-purpleLight/20 w-[100%] inline-flex
        flex justify-between items-center tracking-[0.2px]
        "
        href="#"
      >
        Букеты невесты
        <svg class="w-[7px] h-[14px]">
          <use class="" href="#icons-arrowRight"></use>
        </svg>
      </a>
      <a
        class="font-acme pl-[2px] text-purpleLight pb-[22px] mt-[26px] text-[16px] leading-[18px] border-b border-purpleLight/20 w-[100%] inline-flex
        flex justify-between items-center tracking-[0.2px]
        "
        href="#"
      >
        Вкусные букеты
        <svg class="w-[7px] h-[14px]">
          <use class="" href="#icons-arrowRight"></use>
        </svg>
      </a>
    </div>
  </div>
</header>
