<section>
  <div class="header-top">
    <div class="header-top__wrapper">
      <div class="header-top__nav">
        <div class="header-top__price">
          <span>Валюта</span>
          <div class="header-top__price-dropdown">
            Грн
            <svg>
              <use class="" href="#icons-arrowDown"/>
            </svg>
          </div>
        </div>
        <div class="header-top__line"></div>
        <div class="header-top__city">
          Город
          <div class="header-top__city-dropdown">
            Киев
            <svg class="">
              <use class="" href="#icons-arrowDown"/>
            </svg>
          </div>
        </div>
        <div class="header-top__favorite">
          <div class="favorite">
            <svg class="">
              <use class="" href="#icons-heart"></use>
            </svg>
            <div class="favorite-count">2</div>
          </div>
          Закладки
        </div>
        <div class="header-top__car">
          <svg>
            <use class="" href="#icons-car"/>
          </svg>
          <span> Доставка и оплата </span>
        </div>
        <div class="header-top__contacts">
          <svg class="">
            <use class="" href="#icons-phone"/>
          </svg>
          <span>Контакты</span>
        </div>
        <div class="header-top__line"></div>
        <div class="header-top__language">
          <span>Язык</span>
          <div class="header-top__language-dropdown">
            RU
            <svg>
              <use class="" href="#icons-arrowDown"/>
            </svg>
          </div>
        </div>
      </div>
      <div class="header-top__reg">
        <svg class="w-[16px] h-[16px]">
          <use class="" href="#icons-user" />
        </svg>
        <div class="header-top__login">
          <a href="#">Вход</a>
          <div class="header-top__line"></div>
          <a href="#">Регистрация</a>
        </div>
      </div>
    </div>
  </div>
  <div class="header-mobile">
    <div class="header-mobile__burger">
      <svg>
        <use class="" href="#icons-burger"/>
      </svg>
    </div>
    <div class="header-mobile__log">
      <img src="/img/logo.webp" alt="">
    </div>
    <div class="header-mobile__menu">
      <div class="header-mobile__serch">
        <svg class="mobile-serch">
          <use class="" href="#icons-search"/>
        </svg>
      </div>
      <div class="header-mobile__basket">
        <svg class="">
          <use class="" href="#icons-basket"/>
        </svg>
        <div class="basket-count">1</div>
      </div>
    </div>
  </div>
</section>
