<div class="desktop hidden lg:block">
  <div class="wrapper desktop:px-[250px] px-[20px] table-big:px-[8%] desktop:pr-[255px] pb-[12px] pt-[14px] bg-blackBg">
    <div class="preHeader ml-[-1px] flex items-center justify-between">
      <div class="flex items-center gap-[23px] desktop:gap-[63px]">
        <div class="item flex items-center text-white text-[16px] leading-[18px] font-acme gap-[17px] tracking-[0.4px]">
          Валюта
          <div class="price flex items-center  gap-[6px] text-purpleLight font-acme text-[16px] leading-[18px]">
            Грн
            <svg class="w-[7px] h-[4px]">
              <use class="" href="#icons-arrowDown"/>
            </svg>
          </div>
        </div>
        <div class="flex items-center text-white text-[16px] leading-[18px] font-acme gap-[12px] tracking-[0.4px]">
          Язык
          <div class="language flex items-center gap-[6px] text-purpleLight font-acme text-[16px] leading-[18px]">
            RU
            <svg class="w-[7px] h-[4px]">
              <use class="" href="#icons-arrowDown"/>
            </svg>
          </div>
        </div>
        <div
          class="ml-[-4px] flex items-center text-white text-[16px] leading-[18px] font-acme gap-[12px] tracking-[0.4px]"
        >
          Город
          <div class="language flex items-center gap-[6px] text-purpleLight font-acme text-[16px] leading-[18px]">
            Киев
            <svg class="w-[7px] h-[4px]">
              <use class="" href="#icons-arrowDown"/>
            </svg>
          </div>
        </div>
        <div class="flex items-center text-white text-[16px] leading-[18px] font-acme gap-[23px] tracking-[0.4px]">
          <button class="font-acme text-[17px] leading-[18px] relative text-purpleLight" type="button">
            <svg class="w-[18px] h-[16px]   ">
              <use class="" href="#icons-heart"></use>
            </svg>
            <div
              class="like-count
                  top-[-7px]
                  right-[-12px]
                  absolute bg-white/70 rounded-[50%] text-[12px] text-black   h-[16px] w-[16px] font-sans text-center"
            >
              2
            </div>
          </button>
          <div class="language flex items-center gap-[6px] text-white font-acme text-[16px] leading-[18px]">
            Закладки
          </div>
        </div>
        <div class="car  flex items-center ustify-between gap-[18px]  max-2xl:gap-[10px] ">
          <svg class="w-[22px] h-[22px]">
            <use class="" href="#icons-car"/>
          </svg>
          <span class="  text-white font-acme text-[16px] leading-[18px] text-right tracking-[0.4px]">
            Доставка и оплата
          </span>
        </div>
        <div class="car  flex items-center ustify-between gap-[12px]  ">
          <svg class="w-[16px] h-[16px]">
            <use class="" href="#icons-phone"/>
          </svg>
          <span class="  text-white font-acme text-[16px] leading-[18px] text-right tracking-[0.6px]"> Контакты </span>
        </div>
      </div>
      <div class="reg flex items-center gap-[10px]">
        <svg class="w-[16px] h-[16px]">
          <use class="" href="#icons-user"/>
        </svg>
        <div class="font-acme text-[16px] leading-[18px] text-white flex  items-center">
          <a href="#"> Вход </a>
          <div class="line w-[1px] bg-purpleLight h-[14px] ml-[9px] mr-[2px]"></div>
          <a class=" tracking-[0.4px]" href="#">Регистрация</a>
        </div>
      </div>
    </div>
  </div>
</div>
