<div class="mobile lg:hidden">
  <div
    class="wrapper  px-[15px] py-[3px] mobile:py-[11px] pt-[4px] bg-blackBg
    
    "
  >
    <div class="preHeader ml-[-1px] flex items-center justify-between">
      <div class="price flex items-center  gap-[6px] text-purpleLight font-acme text-[16px] leading-[18px]">
        Грн
        <svg class="w-[7px] h-[4px]">
          <use class="" href="#icons-arrowDown" />
        </svg>
      </div>
      <div class="line w-[1px] h-[21px] bg-purpleLight mx-[20px] mr-[23px]"></div>
      <div class="car  flex items-center justify-between gap-[10px] mobile:gap-[9px] ">
        <svg class="w-[16px] h-[12px]">
          <use class="" href="#icons-car" />
        </svg>
        <span
          class="w-[80%] mobile:w-[100%] text-white font-acme text-[13px] leading-[18px] text-right tracking-[0.25px]"
        >
          Доставка и оплата
        </span>
      </div>
      <div class="line w-[1px] h-[21px] bg-purpleLight mx-[19px]"></div>

      <div class="language flex items-center gap-[6px] text-purpleLight font-acme text-[16px] leading-[18px]">
        RU
        <svg class="w-[7px] h-[4px]">
          <use class="" href="#icons-arrowDown" />
        </svg>
      </div>
    </div>
  </div>
  <div class="mobile px-[15px] pr-[17px] pt-[7px] flex items-center justify-between">
    <div class="burger">
      <svg class="w-[30px] h-[18px]">
        <use class="" href="#icons-burger" />
      </svg>
    </div>
    <div class="logo">
      <img class="w-[83px] h-[78px]" src="/img/logo.webp" alt="" />
    </div>
    <div class="item flex gap-[19px]">
      <svg class="w-[18px] h-[19px] mobile-serch">
        <use class="" href="#icons-search" />
      </svg>
      <div class=" relative">
        <svg class="w-[25px] h-[23px]">
          <use class="" href="#icons-basket" />
        </svg>
        <div
          class="basket-count
          top-[-3px]
          right-[-2px]
          absolute bg-purpleLight rounded-[50%] text-[8px] text-white h-[10px] w-[10px] font-sans text-center"
        >
          1
        </div>
      </div>
    </div>
  </div>
</div>
