<div class=" hidden lg:block">
  <div class="wrapper pt-[28px] desktop:px-[250px] px-[20px] table-big:px-[8%]  flex justify-between">
    <div class="flex gap-[112px]  max-2xl:gap-[80px]">
      <div class="logo w-[129px] h-[115px]">
        <img class="w-full" src="/img/logo.webp" alt="">
      </div>
      <div class="menu mt-[24px] ">
        <div class="serch flex gap-[20px]">
          <div class="dropdown w-[219px] max-2xl:w-[180px] ">
            <button
              type="button"
              class="flex items-center gap-2 
                   font-acme text-[15px] leading-[22px]
                    pb-[10px] tracking-[0.2px]
                   w-full 
                   border-b border-purpleLight
                   text-grayText text-sm"
            >
              <svg class="w-[10px] h-[5px]">
                <use class="" href="#icons-arrowDrop"></use>
              </svg>
              Поиск по категориям
            </button>
          </div>
          <div class="relative  w-[581px] max-2xl:w-[380px] laptop:w-[500px] ">
            <input
              type="text"
              placeholder="Поиск по товарам"
              class="w-full
               px-4 pl-0 pb-[6px] 
               text-[15px] leading-[22px] font-acme
               placeholder:text-grayText
               border-b border-purpleLight
               focus:outline-none 
               "
            />
            <svg class="w-[18px] h-[19px] absolute right-[18px] top-1/2 -translate-y-1/2">
              <use class="" href="#icons-search"></use>
            </svg>
          </div>
        </div>
        <div class="nav flex mt-[43px] items-center justify-between gap-[14px]">
          <div
            class="drop font-acme text-[16px] leading-[18px]
           hover:text-purpleLight hover:cursor-pointer
            gap-[12px] tracking-[0.5px] flex items-center"
          >
            Каталог товаров
            <svg class="w-[10px] h-[5px]">
              <use class="" href="#icons-arrowDrop"></use>
            </svg>
          </div>
          <a href="#" class="hover:text-purpleLight font-actor text-[16px] leading-[18px]">Форум</a>
          <a href="#" class="hover:text-purpleLight font-actor text-[16px] leading-[18px]">Отзывы</a>

          <a href="#" class="hover:text-purpleLight font-actor text-[16px] leading-[18px]">Акции</a>
          <a href="#" class="hover:text-purpleLight font-actor text-[16px] leading-[18px]">Новости</a>
          <a
            href="#"
            class="hover:text-purpleLight font-actor text-[16px] leading-[18px] gap-[6px] tracking-[0.2px] flex items-center"
          >
            Информация
            <svg class="w-[10px] h-[5px]">
              <use class="" href="#icons-arrowDrop"></use>
            </svg>
          </a>
        </div>
      </div>
    </div>
    <div class="right">
      <div class="social flex items-center justify-end  gap-[12px]">
        <a href="#" class="bg-purpleLight w-[27px] h-[27px] inline-flex items-center justify-center rounded-[50%]">
          <svg class="w-[13px] h-[15px]">
            <use class="" href="#icons-viber"></use>
          </svg>
        </a>
        <a href="#" class="bg-purpleLight w-[27px] h-[27px] inline-flex items-center justify-center rounded-[50%]">
          <svg class="w-[14px] h-[14px]">
            <use class="" href="#icons-instagram"></use>
          </svg>
        </a>
        <a href="#" class="bg-purpleLight w-[27px] h-[27px] inline-flex items-center justify-center rounded-[50%]">
          <svg class="w-[14px] h-[17px]">
            <use class="" href="#icons-telegram"></use>
          </svg>
        </a>
        <a href="#" class="bg-purpleLight w-[27px] h-[27px] inline-flex items-center justify-center rounded-[50%]">
          <svg class="w-[7px] h-[12px]">
            <use class="" href="#icons-facebook"></use>
          </svg>
        </a>
      </div>
      <div class="mt-[19px] text-end pr-[15px] mt-[20px] font-acme text-[16px] leading-[16px]">+38 (067) 111 22 11</div>

      <div class="flex gap-[22px] mt-[27px] items-center">
        <button class="font-acme text-[17px] leading-[18px] relative text-purpleLight " type="button">
          <svg class="w-[33px] h-[29px]   ">
            <use class="" href="#icons-heart"></use>
          </svg>
          <div
            class="like-count
                  top-[-7px]
                  right-[-7px]
                  absolute bg-purpleLight rounded-[50%] text-[12px] text-white   h-[16px] w-[16px] font-sans text-center"
          >
            2
          </div>
        </button>
        <div class=" relative ">
          <svg class="w-[35px] h-[35px]">
            <use class="" href="#icons-basket"></use>
          </svg>
          <div
            class="basket-count
                top-[-3px]
                right-[-5px]
                absolute bg-purpleLight rounded-[50%] text-[8px] text-white h-[16px] w-[16px] font-sans text-center"
          >
            1
          </div>
        </div>
        <div class="price font-acme text-[16px] leading-[10px] text-grayText">₴ 1 520</div>
      </div>
    </div>
  </div>
</div>
