<!-- <section class="header-menu">
    <div class="header-menu__wrapper">
        <div class="header-menu__left">
            <div class="header-menu__logo">

            </div>
            <div class="header-menu__menu">
                <div class="header-menu__serch">

                </div>
                <nav class="header-menu__nav">

                </nav>
            </div>
        </div>
    </div>
</section> -->

<header class="header">
  <div class="header__wrapper wrapper">
    <div class="header__left">
      <div class="header__logo">
        <img src="/img/logo.webp" alt="" />
      </div>

      <div class="header__menu">
        <div class="header__search">
          <div class="header__dropdown">
            <button type="submit" class="header__dropdown-btn">
              <svg class="header__dropdown-icon">
                <use href="#icons-arrowDrop"></use>
              </svg>
              Поиск по категориям
            </button>
          </div>

          <div class="header__search-input">
            <input type="text" placeholder="Поиск по товарам" />
            <svg class="header__search-icon">
              <use href="#icons-search"></use>
            </svg>
          </div>
        </div>

        <nav class="header__nav">
          <div class="header__catalog">
            Каталог товаров
            <svg>
              <use href="#icons-arrowDrop"></use>
            </svg>
          </div>

          <a href="#" class="header__link">Форум</a>
          <a href="#" class="header__link">Отзывы</a>
          <a href="#" class="header__link">Акции</a>
          <a href="#" class="header__link">Новости</a>

          <a href="#" class="header__info">
            Информация
            <svg>
              <use href="#icons-arrowDrop"></use>
            </svg>
          </a>
        </nav>
      </div>
    </div>

    <div class="header__right">
      <div class="header__social">
        <a href="#" class="header__social-item">
          <svg>
            <use href="#icons-viber"></use>
          </svg>
        </a>

        <a href="#" class="header__social-item">
          <svg>
            <use href="#icons-instagram"></use>
          </svg>
        </a>

        <a href="#" class="header__social-item">
          <svg>
            <use href="#icons-telegram"></use>
          </svg>
        </a>

        <a href="#" class="header__social-item">
          <svg>
            <use href="#icons-facebook"></use>
          </svg>
        </a>
      </div>

      <div class="header__phone">+38 (067) 111 22 11</div>

      <div class="header__actions">
        <button type="submit" class="header__favorite">
          <svg>
            <use href="#icons-heart"></use>
          </svg>
          <div class="header__favorite-count">2</div>
        </button>

        <div class="header__basket">
          <svg>
            <use href="#icons-basket"></use>
          </svg>
          <div class="header__basket-count">1</div>
        </div>

        <div class="header__price">₴ 1 520</div>
      </div>
    </div>
  </div>
</header>
