$blackBg: #333;
$purpleLight: #956d84;
$grayText: #828282;
$purpleExtraLight: rgb(157, 117, 140, 0.39);
/////////////
$acme: 'Acme', sans-serif;
$sans: 'PT Sans', sans-serif;
$actor: 'Actor', sans-serif;
$aguaf: 'AguafinaScript', sans-serif;
