@mixin huge {
  @media (min-width: 2000px) {
    @content;
  }
}

@mixin big {
  @media (max-width: 1999px) {
    @content;
  }
}

@mixin desktop {
  @media (max-width: 1750px) {
    @content;
  }
}

@mixin laptop {
  @media (max-width: 1440px) {
    @content;
  }
}

@mixin table-big {
  @media (max-width: 1200px) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: 1000px) and (min-width: 769px) {
    @content;
  }
}

@mixin tablet-mini {
  @media (max-width: 768px) and (min-width: 601px) {
    @content;
  }
}

@mixin phone {
  @media (max-width: 600px) {
    @content;
  }
}

.text-rgb {
  display: inline-block;
  background: linear-gradient(130.1deg, rgb(104, 200, 255), rgb(209, 181, 255) 99%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
