@use './fonts' as *;
@use './basic/variables' as *;

body {
  margin: 0;
  padding: 0;

  @include huge {
    margin: 0 7%;
  }
}

#preloader {
  position: fixed;
  display: flex;
  inset: 0;
  align-items: center;
  justify-content: center;
  z-index: 99999;
  background: #0b0d12;
}

.spinner {
  width: 48px;
  height: 48px;
  border: 4px solid rgb(255, 255, 255, 0.2);
  border-radius: 50%;
  border-top-color: white;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.swiper-pagination {
  bottom: 5px !important;
}

.swiper-pagination-bullet {
  opacity: 1 !important;
  position: relative;
  width: 10px !important;
  height: 10px !important;
  margin: 0 var(--swiper-pagination-bullet-horizontal-gap, -1px) !important;
  margin-right: 5px !important;
  border-radius: 50%;
  background: transparent !important;
}

.swiper-pagination-bullet::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: #fff;
  transform: translate(-50%, -50%);
}

.swiper-pagination-bullet-active {
  border: 1px solid #fff !important;
}

.action .swiper-pagination-bullet-active {
  border: 1px solid #956d84 !important;
}

.action .swiper-pagination .swiper-pagination-bullet-active {
  border: 1px solid #956d84 !important;
}

.action .swiper-slide {
  @media (max-width: 1200px) and (min-width: 1000px) {
    width: 50% !important;
  }
}

.action {
  padding-bottom: 41px !important;
}

.action .swiper-pagination-bullet {
  opacity: 1 !important;
  position: relative;
  width: 10px !important;
  height: 10px !important;
  margin: 0 var(--swiper-pagination-bullet-horizontal-gap, -1px) !important;
  margin-right: 5px !important;
  border-radius: 50%;
  background: transparent !important;
}

.action .swiper-pagination-bullet::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: #956d84;
  transform: translate(-50%, -50%);
}

.action .swiper-pagination {
  bottom: 3px !important;
}

.swiper-button-next {
  width: 15px !important;
}

.swiper-button-prev {
  width: 15px !important;
}
