<!-- <div
  class="burger-menu lg:hidden
     -translate-y-full opacity-0 invisible transition-all duration-1000
    ease-in-out  hidden absolute pb-[28px] top-0 w-full z-10 bg-white"
>
  <div class="title bg-blackBg flex justify-between pl-[20px] pr-[21px] items-center pt-[28px] pb-[28px]">
    <span class="text-white font-actor ext-[14px] leading-[16px]">Меню</span>
    <svg class="w-[14px] h-[14px] burger-close">
      <use class="" href="#icons-close" />
    </svg>
  </div>
  <div class="call flex items-center justify-between pl-[32px] pr-[16px] pt-[20px]">
    <div class="nunber font-acme text-[16px] leading-[18px]">+38 (067) 111 22 11</div>
    <a
      href="#"
      class="call overflow-hidden relative bg-purpleLight pb-[8px] pt-[9px] px-[28px] pr-[25px] font-actor text-[12px] leading-[18px] tracking-[0.2px] text-white rounded-[5px]"
    >
      Подзвонить
      <svg class="w-[85px] h-[112px] absolute top-[-15px] right-[-21px] rotate-45 overflow-hidden ">
        <use class="" href="#icons-btnBg" />
      </svg>
    </a>
  </div>
  <div class="px-[13px] mt-[73px]">
    <div class="flex justify-between items-center">
      <span class="font-acme text-[17px] leading-[18px]">Киев</span>
      <button class="font-acme text-[17px] leading-[18px] text-purpleLight" type="button">Выбрать город</button>
    </div>
    <div class="flex justify-between items-center mt-[33px]">
      <span class="font-acme text-[17px] leading-[16px]">Закладки</span>
      <button class="font-acme text-[17px] leading-[18px] relative text-purpleLight mr-[24px]" type="button">
        <svg class="w-[26px] h-[26px]   ">
          <use class="" href="#icons-heart" />
        </svg>
        <div
          class="like-count
              top-[-3px]
              right-[-15px]
              absolute bg-purpleLight rounded-[50%] text-[12px] text-black pt-[2px]  h-[22px] w-[22px] font-sans text-center"
        >
          2
        </div>
      </button>
    </div>
    <div class="flex justify-between items-center mt-[29px]">
      <span class="font-acme text-[17px] leading-[18px] tracking-[0.2px]">Личный кабинет</span>
      <button class="font-acme text-[17px] leading-[18px] text-purpleLight" type="button">Войти</button>
    </div>
  </div>
  <nav class=" mt-[68px] px-[13px]">
    <a class="font-acme pb-[22px] text-[17px] leading-[18px] border-b border-black/20 w-[100%] inline-block" href="#"
      >Форум</a
    >
    <a
      class="font-acme pb-[22px] mt-[26px] text-[17px] leading-[18px] border-b border-black/20 w-[100%] inline-block"
      href="#"
      >Отзывы</a
    >
    <a
      class="font-acme pb-[22px] mt-[26px] text-[17px] leading-[18px] border-b border-black/20 w-[100%] inline-block"
      href="#"
      >Акции</a
    >
    <a
      class="font-acme pb-[22px] mt-[26px] text-[17px] leading-[18px] border-b border-black/20 w-[100%] inline-block"
      href="#"
      >Новости</a
    >
    <a
      class="font-acme pb-[22px] mt-[26px] text-[17px] leading-[18px] border-b border-black/20 w-[100%] inline-flex
        flex justify-between items-center
        "
      href="#"
    >
      Информация
      <svg class="w-[7px] h-[14px]">
        <use class="" href="#icons-arrowRight"></use>
      </svg>
    </a>
    <a
      class="font-acme pb-[22px] mt-[26px] text-[17px] leading-[18px] border-b border-black/20 w-[100%] inline-flex
        items-center gap-[12px]
        "
      href="#"
    >
      <svg class="w-[21px] h-[16px]">
        <use class="" href="#icons-phone"></use>
      </svg>
      Контакты</a
    >
  </nav>
  <div class="social mt-[44px] px-[13px] flex items-center gap-[23px]">
    <a href="#" class="bg-purpleLight w-[50px] h-[50px] inline-flex items-center justify-center rounded-[50%]">
      <svg class="w-[25px] h-[27px]">
        <use class="" href="#icons-viber"></use>
      </svg>
    </a>
    <a href="#" class="bg-purpleLight w-[49px] h-[49px] inline-flex items-center justify-center rounded-[50%]">
      <svg class="w-[26px] h-[26px]">
        <use class="" href="#icons-instagram"></use>
      </svg>
    </a>
    <a href="#" class="bg-purpleLight w-[49px] h-[49px] inline-flex items-center justify-center rounded-[50%]">
      <svg class="w-[26px] h-[27px]">
        <use class="" href="#icons-telegram"></use>
      </svg>
    </a>
    <a href="#" class="bg-purpleLight w-[49px] h-[49px] inline-flex items-center justify-center rounded-[50%]">
      <svg class="w-[26px] h-[26px]">
        <use class="" href="#icons-facebook"></use>
      </svg>
    </a>
  </div>
</div> -->
<div class="mobile-menu mobile-menu--hiden">
  <div class="mobile-menu__header">
    <span class="mobile-menu__title">Меню</span>

    <svg class="mobile-menu__close">
      <use href="#icons-close"></use>
    </svg>
  </div>

  <div class="mobile-menu__call">
    <div class="mobile-menu__phone">+38 (067) 111 22 11</div>

    <a href="#" class="mobile-menu__call-btn">
      Подзвонить

      <svg class="mobile-menu__btn-bg">
        <use href="#icons-btnBg"></use>
      </svg>
    </a>
  </div>

  <div class="mobile-menu__info">
    <div class="mobile-menu__row">
      <span class="mobile-menu__label">Киев</span>
      <button type="submit" class="mobile-menu__action">Выбрать город</button>
    </div>

    <div class="mobile-menu__row">
      <span class="mobile-menu__label">Закладки</span>

      <button type="submit" class="mobile-menu__favorite">
        <svg class="mobile-menu__favorite-icon">
          <use href="#icons-heart"></use>
        </svg>

        <div class="mobile-menu__favorite-count">2</div>
      </button>
    </div>

    <div class="mobile-menu__row">
      <span class="mobile-menu__label">Личный кабинет</span>
      <button type="submit" class="mobile-menu__action">Войти</button>
    </div>
  </div>

  <nav class="mobile-menu__nav">
    <a href="#" class="mobile-menu__link">Форум</a>

    <a href="#" class="mobile-menu__link">Отзывы</a>

    <a href="#" class="mobile-menu__link">Акции</a>

    <a href="#" class="mobile-menu__link">Новости</a>

    <a href="#" class="mobile-menu__link mobile-menu__link--arrow">
      Информация

      <svg class="mobile-menu__arrow">
        <use href="#icons-arrowRight"></use>
      </svg>
    </a>

    <a href="#" class="mobile-menu__link mobile-menu__link--contacts">
      <svg class="mobile-menu__phone-icon">
        <use href="#icons-phone"></use>
      </svg>

      Контакты
    </a>
  </nav>

  <div class="mobile-menu__social">
    <a href="#" class="mobile-menu__social-item">
      <svg>
        <use href="#icons-viber"></use>
      </svg>
    </a>

    <a href="#" class="mobile-menu__social-item">
      <svg>
        <use href="#icons-instagram"></use>
      </svg>
    </a>

    <a href="#" class="mobile-menu__social-item">
      <svg>
        <use href="#icons-telegram"></use>
      </svg>
    </a>

    <a href="#" class="mobile-menu__social-item">
      <svg>
        <use href="#icons-facebook"></use>
      </svg>
    </a>
  </div>
</div>
