<section class="promo">
  <div class="promo__wrapper">
    <div class="promo__header">
      <h2 class="promo__title">Акции</h2>

      <div class="promo__nav">
        <div class="swiper-button-prev">
          <img src="/img/arrowRight.webp" alt="" />
        </div>

        <div class="swiper-button-next">
          <img src="/img/arrowLeft.webp" alt="" />
        </div>
      </div>
    </div>

    <div class="promo__slider swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide promo__slide">
          <div class="promo__grid">
            <div class="promo-card"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
