<section>
  <div class="px-[15px] mt-[31px] flex gap-[8px] justify-center">
    <div class="item">
      <div class="img h-[91px] w-[91px] border-1 border-purpleLight flex items-center justify-center rounded-[50%]">
        <img src="/img/home/homeInfo1.webp" alt="">
      </div>
      <p class="font-acme text-[10px] leading-[15px] mt-[13px] pl-[5px] tracking-[0.3px]">Фото доставок</p>
    </div>
    <div class="item">
      <div class="img h-[91px] w-[91px] border-1 border-purpleLight flex items-center justify-center rounded-[50%]">
        <img src="/img/home/homeInfo2.webp" alt="">
      </div>
      <p class="font-acme text-[10px] leading-[15px] mt-[13px] pl-[9px] tracking-[0.3px]">Видео отчеты</p>
    </div>
    <div class="item">
      <div class="img h-[91px] w-[91px] border-1 border-purpleLight flex items-center justify-center rounded-[50%]">
        <img src="/img/home/homeInfo3.webp" alt="">
      </div>
      <p class="font-acme text-[10px] leading-[15px] mt-[14px] tracking-[0.4px]">Подарок клиентам</p>
    </div>
  </div>
</section>
