<section class="hero-slider">
  <div class="hero-slider__container">
    <div class="hero-slider__swiper swiper">
      <div class="swiper-wrapper">
        <div class="hero-slider__slide swiper-slide">
          <img src="/img/home/homeSlide-mob.webp" alt="sale" class="hero-slider__image" />

          <div class="hero-slider__content">
            <p class="hero-slider__text">Скидки <span>-6%</span> на все букеты <span>по предзаказу</span> на 8 марта</p>
          </div>
        </div>

        <div class="hero-slider__slide swiper-slide">
          <img src="/img/home/homeSlide2.webp" alt="sale" class="hero-slider__image" />
        </div>

        <div class="hero-slider__slide swiper-slide">
          <img src="/img/home/homeSlide3.webp" alt="sale" class="hero-slider__image" />
        </div>

        <div class="hero-slider__slide swiper-slide">
          <img src="/img/home/homeSlide4.webp" alt="sale" class="hero-slider__image" />
        </div>

        <div class="hero-slider__slide swiper-slide">
          <img src="/img/home/homeSlide5.webp" alt="sale" class="hero-slider__image" />
        </div>
      </div>

      <div class="hero-slider__pagination swiper-pagination"></div>
    </div>
  </div>
</section>
<section class="hero hero--desktop">
  <div class="hero__container">
    <div class="hero__grid">
      <div class="hero__item hero__item--big">
        <img src="/img/home/homeSlide1-big.webp" alt="sale" class="hero__image" />

        <div class="hero__content hero__content--big">
          <p class="hero__title hero__title--big">
            Скидки <span>-6%</span> на все букеты <span>по предзаказу</span> на 8 марта
          </p>
        </div>
      </div>

      <div class="hero__list">
        <div class="hero__row">
          <div class="hero__item">
            <img src="/img/home/homeSlide2.webp" alt="sale" class="hero__image" />

            <div class="hero__content">
              <p class="hero__title">Розы</p>
            </div>
          </div>

          <div class="hero__item">
            <img src="/img/home/homeSlide3.webp" alt="sale" class="hero__image" />

            <div class="hero__content">
              <p class="hero__title">Подарки</p>
            </div>
          </div>
        </div>

        <div class="hero__row">
          <div class="hero__item">
            <img src="/img/home/homeSlide4.webp" alt="sale" class="hero__image" />
          </div>

          <div class="hero__item">
            <img src="/img/home/homeSlide5.webp" alt="sale" class="hero__image" />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
