<section class="features">
  <div class="features-mobile">
    <div class="features-mobile__list">
      <div class="features-mobile__item">
        <div class="features-mobile__icon">
          <svg class="features-mobile__svg">
            <use href="#icons-homeInfo1"></use>
          </svg>
        </div>

        <p class="features-mobile__text">Фото доставок</p>
      </div>

      <div class="features-mobile__item">
        <div class="features-mobile__icon">
          <svg class="features-mobile__svg">
            <use href="#icons-homeInfo2"></use>
          </svg>
        </div>

        <p class="features-mobile__text">Видео отчеты</p>
      </div>

      <div class="features-mobile__item">
        <div class="features-mobile__icon">
          <svg class="features-mobile__svg features-mobile__svg--small">
            <use href="#icons-homeInfo3"></use>
          </svg>
        </div>

        <p class="features-mobile__text">Подарок клиентам</p>
      </div>
    </div>
  </div>
  <div class="features-desctop">
    <div class="features-desctop__container">
      <div class="features-desctop__list">
        <div class="features-desctop__card features-desctop__card--photo">
          <div class="features-desctop__bg features-desctop__bg--left"></div>

          <svg class="features-desctop__icon features-desctop__icon--right">
            <use href="#icons-homeInfo1"></use>
          </svg>

          <div class="features-desctop__content">
            <h3 class="features-desctop__title">Фото доставок наших букетов</h3>

            <p class="features-desctop__text">Безупречное качество обслуживания и доставка в любую точку города</p>
          </div>

          <img class="features-desctop__decor features-desctop__decor--right" src="/img/home/homeInfoBg.webp" alt="">
        </div>

        <div class="features-desctop__card features-desctop__card--video">
          <div class="features-desctop__bg"></div>

          <div class="features-desctop__center">
            <svg class="features-desctop__icon">
              <use href="#icons-homeInfo2"></use>
            </svg>
            <h3 class="features-desctop__title">Видео отчеты клиентов</h3>

            <p class="features-desctop__text">Наши счастливые клиенты с букетами от Flowers</p>
          </div>

          <img class="features-desctop__decor features-desctop__decor--left" src="/img/home/homeInfoBg.webp" alt="">
          <img class="features-desctop__decor features-desctop__decor--right" src="/img/home/homeInfoBg.webp" alt="">
        </div>

        <div class="features-desctop__card features-desctop__card--gift">
          <div class="features-desctop__bg features-desctop__bg--right"></div>

          <svg class="features-desctop__icon features-desctop__icon--left">
            <use href="#icons-homeInfo3"></use>
          </svg>

          <div
            class="
feares-desctop__content"
          >
            <div class="features-desctop__item">
              <h3 class="features-desctop__title">
                Подарок
                <br>
                каждому клиенту
              </h3>

              <p class="features-desctop__xt">
                К каждому заказу мы прилогаем <br>
                комплимент от компании <br>

                в виде маленького презента
              </p>
            </div>
          </div>

          <img class="features-desctop__decor" src="/img/home/homeInfoBg.webp" alt="">
        </div>
      </div>
    </div>
  </div>
</section>
