<section>
  <div class="px-[15px] mt-[31px]  flex gap-[8px] justify-center 920:hidden">
    <div class="item">
      <div class="img h-[91px] w-[91px] border-1 border-purpleLight flex items-center justify-center rounded-[50%]">
        <!-- <img src="/img/home/homeInfo1.webp" alt=""> -->
        <svg class="w-[46px] h-[46px] mobile-serch">
          <use class="text-purpleLight" href="#icons-homeInfo1"></use>
        </svg>
      </div>
      <p class="font-acme text-[10px] leading-[15px] mt-[13px] pl-[5px] tracking-[0.3px]">Фото доставок</p>
    </div>
    <div class="item">
      <div class="img h-[91px] w-[91px] border-1 border-purpleLight flex items-center justify-center rounded-[50%]">
        <!-- <img src="/img/home/homeInfo2.webp" alt="" /> -->
        <svg class="w-[46px] h-[46px] mobile-serch">
          <use class="text-purpleLight" href="#icons-homeInfo2"></use>
        </svg>
      </div>
      <p class="font-acme text-[10px] leading-[15px] mt-[13px] pl-[9px] tracking-[0.3px]">Видео отчеты</p>
    </div>
    <div class="item">
      <div class="img h-[91px] w-[91px] border-1 border-purpleLight flex items-center justify-center rounded-[50%]">
        <!-- <img src="/img/home/homeInfo3.webp" alt="" /> -->
        <svg class="w-[42px] h-[42px] mobile-serch">
          <use class="text-purpleLight" href="#icons-homeInfo3"></use>
        </svg>
      </div>
      <p class="font-acme text-[10px] leading-[15px] mt-[14px] tracking-[0.4px]">Подарок клиентам</p>
    </div>
  </div>
  <div class="mt-[45px] desktop:px-[250px] px-[20px] table-big:px-[8%]  hidden  920:block">
    <div class="list flex gap-[20px]  920:flex-wrap 1720:flex-nowrap 920:justify-center">
      <div class="w-[460px] relative h-[219px] bg-white relative overflow-hidden border border-[#956d84]">
        <div
          class="absolute inset-0 bg-purpleLight"
          style="clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 72% 100%, 71% 99%, 67% 94%, 68% 96%, 65% 89%, 61% 80%, 54% 57%, 51% 45%, 48% 35%, 47% 33%, 43% 23%, 31% 8%, 29% 7%, 20% 1%);"
        >
      </div>
      <svg class="w-[100px] h-[100px] absolute right-[35px] top-[24px]">
        <use class="text-white" href="#icons-homeInfo1"></use>
      </svg>

        <div class="relative z-10 p-6 pt-[55px] max-w-[260px]">
          <h3 class="text-black  text-[24px] font-acme leading-[35px] tracking-[0.6px]">Фото доставок наших букетов</h3>
          <p class="text-grayText text-[14px] mt-[12px] tracking-[0.6px] leading-[18px]">
            Безупречное качество обслуживания и доставка в любую точку города
          </p>
        </div>
        <img
          class="-scale-x-100 absolute -top-2 -right-6 transform-[rotate(7deg)]"
          src="/img/home/homeInfoBg.webp"
          alt=""
        >
      </div>
      <div class="w-[460px] h-[219px] relative  bg-white relative overflow-hidden border border-[#956d84]">
        <div class="absolute inset-0 bg-purpleLight"></div>

        <div class="relative z-10  pt-[18px] text-center flex flex-col items-center justify-center">
          <svg class="w-[100px] h-[100px] mobile-serch">
          <use class="text-white" href="#icons-homeInfo2"></use>
        </svg>
          <h3 class="text-white  text-[24px] mt-[5px] font-acme leading-[40px] tracking-[0.9px]">Видео отчеты клиентов</h3>
          <p class="text-white font-acme text-[14px]  mt-[12px] tracking-[0.35px] leading-[18px]">
            Наши счастливые клиенты с букетами от Flowers
          </p>
        </div>
        <img
          class=" absolute top-[-63px] left-[-38px] w-[243px] transform-[rotate(18deg)]"
          src="/img/home/homeInfoBg.webp"
          alt=""
        >
        <img
          class="-scale-x-100 absolute -top-23 -right-15 transform-[rotate(7deg)]"
          src="/img/home/homeInfoBg.webp"
          alt=""
        >
      </iv>
    </div>
    <div class="w-[460px] min-w-[418px] h-[219px] bg-white relative overflow-hidden border border-[#956d84]">
      <div
        class="absolute inset-0 bg-purpleLight"
        style="clip-path: polygon(100% 0%, 0% 0%, 0% 100%, 28% 100%, 29% 99%, 33% 94%, 32% 96%, 35% 89%, 39% 80%, 46% 57%, 49% 45%, 52% 35%, 53% 33%, 57% 23%, 69% 8%, 71% 7%, 80% 1%);"
      ></div>
      <svg class="w-[100px] h-[100px] absolute left-[35px] top-[24px]">
          <use class="text-white" href="#icons-homeInfo3"></use>
        </svg>
        <div class="relative z-10 flex justify-end h-full p-6 pr-[17px]">
        <div class="max-w-[260px] text-right mt-[31px]">
          <h3 class="text-black max-w-[236px]  text-[24px] font-acme leading-[35px] tracking-[0.8px]">
Подарок 
<br>
 каждому клиенту
</h3>
        <p class="text-grayText text-[14px] mt-[13px] tracking-[0.6px] leading-[18px]">
          К каждому заказу мы прилогаем <br> комплимент от компании <br>
в виде маленького презента
        </p>
        </div>
      </div>
      <img class=" absolute top-[2px] left-[-21px]" src="/img/home/homeInfoBg.webp" alt="">
    </div>
  </div>
</section>
